<li class="am-g am-list-item-desced pet_list_one_block">
    <div class="pet_list_one_info">
        <div class="pet_list_one_info_tytj"><i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico pet_list_tytj_ico">&#xe607;</i>诺奖得主回忆通知获奖那一刻</div>
        <div class="pet_list_one_info_r">
            <div class="pet_list_tag pet_list_tag_kty">图集</div>
        </div>
    </div>

    <div class=" am-list-main">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3 am-avg-md-3 am-avg-lg-3 am-gallery-default pet_list_one_list pet_list_one_tytj" >
            <li>
                <div class="am-gallery-item">
                    <a href="###" class="">
                        <img src="__STATIC__/img/w1.jpg"  alt="某天 也许会相遇 相遇在这个好地方"/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="###" class="">
                        <img src="__STATIC__/img/w2.jpg"  alt="不要太担心 只因为我相信"/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="###" class="">
                        <img src="__STATIC__/img/w3.jpg"  alt="终会走过这条遥远的道路"/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="###" class="">
                        <img src="__STATIC__/img/w4.jpg"  alt="终会走过这条遥远的道路"/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="###" class="">
                        <img src="__STATIC__/img/w5.jpg"  alt="终会走过这条遥远的道路"/>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="###" class="">
                        <img src="__STATIC__/img/w6.jpg"  alt="终会走过这条遥远的道路"/>
                    </a>
                </div>
            </li>
        </ul>
</li>