<div class="pet_more_list"><div class="pet_more_list_block">
    <div class="iconfont pet_more_close">×</div>
    <div class="pet_more_list_block">
        <div class="pet_more_list_block_name">
            <div class="pet_more_list_block_name_title">阅读 Read</div>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe601;</i>
                <div class="pet_more_list_block_line_font">新鲜事</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe606;</i>
                <div class="pet_more_list_block_line_font">涨知识</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe607;</i>
                <div class="pet_more_list_block_line_font">看涂鸦</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_mengzhuanti pet_more_list_block_line_ico">&#xe603;</i>
                <div class="pet_more_list_block_line_font">萌专题</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_bk pet_more_list_block_line_ico">&#xe611;</i>
                <div class="pet_more_list_block_line_font">百科</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_wd pet_more_list_block_line_ico">&#xe60c;</i>
                <div class="pet_more_list_block_line_font">问答</div>
            </a>
            <div class="pet_more_list_block_name_title pet_more_list_block_line_height">服务 Service</div>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_xinxianshi pet_more_list_block_line_ico">&#xe600;</i>
                <div class="pet_more_list_block_line_font">美容</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_zhangzhishi pet_more_list_block_line_ico">&#xe602;</i>
                <div class="pet_more_list_block_line_font">医院</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_kantuya pet_more_list_block_line_ico">&#xe604;</i>
                <div class="pet_more_list_block_line_font">店铺</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_sy pet_more_list_block_line_ico">&#xe610;</i>
                <div class="pet_more_list_block_line_font">摄影</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_xx pet_more_list_block_line_ico">&#xe612;</i>
                <div class="pet_more_list_block_line_font">学校</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_sz pet_more_list_block_line_ico">&#xe60f;</i>
                <div class="pet_more_list_block_line_font">水族</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_ms pet_more_list_block_line_ico">&#xe60e;</i>
                <div class="pet_more_list_block_line_font">猫舍</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_qs pet_more_list_block_line_ico">&#xe60b;</i>
                <div class="pet_more_list_block_line_font">犬舍</div>
            </a>
            <a class="pet_more_list_block_line">
                <i class="iconfont pet_nav_qt pet_more_list_block_line_ico">&#xe60d;</i>
                <div class="pet_more_list_block_line_font">其它</div>
            </a>
        </div>
    </div>
    </div>
</div>